<article
  class="asset-card"
  [attr.aria-labelledby]="'asset-' + remediation.id + '-title'"
>
  <header class="asset-card-header">
    <h3 id="asset-{{ remediation.id }}-title">{{ remediation.title }}</h3>
  </header>
  <div class="asset-card-details">
    <div class="asset-card-details-info">
      <app-server-icon aria-hidden="true" />
      <div class="asset-card-details-info-texts">
        <span class="asset-type">{{ remediation.type }}</span>
        <span class="text-small asset-subtype">{{
          remediation.ipAddress
        }}</span>
      </div>
    </div>
    <span class="divider" aria-hidden="true">&nbsp;</span>
    <p class="asset-description">
      {{ "remediation.assets.description" | translate }}
    </p>
  </div>
  @if (remediation.summary) {
  <div class="asset-card-summary">
    <h4 class="sr-only">Summary</h4>
    <p>{{ remediation.summary }}</p>
  </div>
  }
</article>
