@use "../../../../styles/variables" as *;

.asset-card {
  box-shadow: $shadow-sm;
  border: 1px solid $border-primary;
  background-color: $background-primary;
  padding: $card-padding;
  border-radius: $card-border-radius;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  color: $text-primary;
  font-size: $font-size-sm;
  transition: box-shadow $transition-base;

  &:hover {
    box-shadow: $shadow-md;
  }

  &-header {
    font-family: Public Sans;
    font-weight: 700;
    font-style: bold;
    font-size: $font-size-base;
    line-height: 22px;
    letter-spacing: 1%;
    text-transform: capitalize;
  }

  &-details {
    height: 70px;
    background-color: $background-tertiary;
    border-radius: $card-border-radius;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    gap: $spacing-sm;

    .divider {
      display: flex;
      width: 1px;
      height: 100%;
      background-color: var(--grey-500);
    }

    &-info {
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      min-width: 50%;
      max-width: 50%;
      &-texts {
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;

        .text-small {
          font-size: 11px;
          font-weight: 400;
        }
      }
    }
  }
}
