<div class="tooltip-card">
  <div class="tooltip-card__header">
    <app-server-icon [small]="true" />

    <div class="tooltip-card__title">
      <span class="tooltip-card__title-text">{{ title }}</span>
      @if (ipAddress) {
      <span class="text-small tooltip-card__title-ip">{{ ipAddress }}</span>
      }
    </div>
  </div>

  <div class="tooltip-card__body">
    @for(section of sections; track section.label) {
    <div class="tooltip-card__section">
      <span class="material-icons-outlined text-muted">description</span>
      <span class="tooltip-card__label">{{ section.label }}:</span>
      @for(value of section.values; track value.type) { @if(value.type ===
      'text') {
      <span class="tooltip-card__value tooltip-card__text">{{
        value.value
      }}</span>
      } @else if(value.type === 'ip') {
      <span class="tooltip-card__value tooltip-card__ip">{{
        value.value
      }}</span>
      } @else if(value.type === 'orange-text') {
      <span class="tooltip-card__value tooltip-card__orange-text">{{
        value.value
      }}</span>
      } @else if(value.type === 'text-ip') {
      <span class="tooltip-card__value tooltip-card__text-ip">{{
        value.value
      }}</span>
      } }
    </div>
    }
  </div>
</div>
