@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;

  &.collapsed {
    display: none;
  }

  @include respond-below(sm) {
    display: block;
  }
}

.sidebar {
  height: $h-full;
  width: $sidebar-width;
  background-color: var(--background-primary);
  box-shadow: var(--shadow-md);
  border-top-right-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  z-index: 1000;
  box-shadow: var(--shadow-md);
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease;

  .sidebar-toggle {
    border-radius: 50%;
    border: $sidebar-toggle-border-width solid var(--grey-50);
    background-color: var(--primary-800);
    padding: $spacing-sm;
    position: absolute;
    height: $sidebar-toggle-size;
    width: $sidebar-toggle-size;
    top: 20px;
    right: 0;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    .material-icons {
      color: var(--white);
    }
  }
  .mobile-close-icon {
    display: none;
    border: none;
  }

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0%);

    .sidebar-toggle {
      display: none;
    }

    .mobile-close-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      width: 40px;
      border-radius: 50%;
      background-color: var(--primary-800);
      .material-icons {
        color: var(--white);
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &.collapsed {
    width: $sidebar-width-collapsed;

    .navigation-section__item span:not(.icon) {
      display: none;
    }
    .navigation-section__item {
      padding: 1rem;
      justify-content: center;
    }
    .user-info__details span,
    .user-section__logout {
      display: none;
    }

    @media (max-width: 768px) {
      transform: translateX(-100%);
    }
  }

  .navigation-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $spacing-md;
    margin-top: $spacing-md;

    .navigation-section__list {
      list-style: none;
      padding: 0;
    }
    .navigation-section__item {
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      padding: 1rem 1.2rem;
      font-size: $font-size-sm;
      border-radius: $border-radius-lg;
      color: var(--grey-700);
      cursor: pointer;
      transition: all 0.2s ease;
      text-decoration: none;
      user-select: none;
      font-weight: 600;
      transition: all 0.2s ease;

      .icon {
        fill: var(--grey-500) !important;
        height: $font-size-xl;
        width: $font-size-xl;
        line-height: 25px;
      }

      &:hover {
        background-color: var(--background-hover);
        .icon {
          fill: black !important;
        }
      }

      &.active {
        background-color: var(--background-hover);

        .icon,
        svg {
          fill: black !important;
        }
      }
    }

    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  .user-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-sm;
    font-size: $font-size-xs;
    padding-block: $spacing-md;
    border-top: 1px solid var(--border-primary);

    .user-info {
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      .user-info__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #999999;
        display: flex;
        align-items: center;
        justify-content: center;
        .material-icons {
          font-size: $font-size-4xl;
          color: var(--white);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .user-info__details {
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;
        color: #525d73;
        :nth-child(1) {
          font-size: $font-size-sm;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
  .user-section__logout {
    cursor: pointer;
    border: none;
    background-color: transparent;
    .material-icons {
      font-size: $font-size-lg;
    }
  }
}
