<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-toggle" (click)="onToggleSidebar()">
    @if (isCollapsed) {
    <span class="material-icons">keyboard_arrow_right</span>
    } @else {
    <span class="material-icons">keyboard_arrow_left</span>
    }
  </div>
  <div class="navigation-section">
    <ul class="navigation-section__list">
      @for (item of navigationItems; track item) {
      <li class="navigation-section__item">
        <span class="material-icons">{{ item.icon }}</span>
        <span>{{ item.label | translate }}</span>
      </li>
      }
    </ul>
    <ul class="navigation-section__list">
      @for (item of secondaryNavigationItems; track item) {
      <li class="navigation-section__item">
        <span class="material-icons">{{ item.icon }}</span>
        <span>{{ item.label | translate }}</span>
      </li>
      }
    </ul>
  </div>

  <div class="user-section">
    <div class="user-info">
      <span class="user-info__avatar"
        ><span class="material-icons">person</span></span
      >
      <div class="user-info__details">
        <span>{{ userProfile.name | translate }}</span>
        <span>{{ userProfile.email | translate }}</span>
      </div>
    </div>

    <span class="material-icons user-section__logout">logout</span>
  </div>
</aside>
