<app-tooltip [template]="tooltipTemplate" [position]="position" #tooltipCmp>
  <div
    class="graph-node"
    [attr.aria-label]="title + ' network node'"
    (mouseenter)="tooltipCmp.show()"
    (mouseleave)="tooltipCmp.hide()"
  >
    @if(errorIcon){
    <div class="error-icon" aria-hidden="true">
      <img src="assets/icons/shield-x.png" />
    </div>
    } @if(userIcon){
    <div class="user-icon" aria-hidden="true">
      <span class="material-icons-outlined">person</span>
    </div>
    }

    <div
      class="server-icon"
      aria-hidden="true"
      [ngClass]="{ 'initial-node': initialNode }"
    >
      @if(customIcon){
      <img [src]="customIcon" />
      } @else if(icon){
      <span class="material-icons-outlined">{{ icon }}</span>
      } @else{
      <span class="material-icons-outlined">dns</span>
      }
    </div>
    <span class="graph-node__title">{{ title }}</span>
  </div>
</app-tooltip>

<ng-template #tooltipTemplate>
  <ng-content select="[tooltip-content]"></ng-content>
</ng-template>
