<app-tooltip [template]="tooltipTemplate" [position]="position" #tooltipCmp>
  <div
    class="graph-node"
    [attr.aria-label]="title + ' network node'"
    (mouseenter)="tooltipCmp.show()"
    (mouseleave)="tooltipCmp.hide()"
  >
    <div class="server-icon" aria-hidden="true">
      <span class="material-icons-outlined">dns</span>
    </div>
    <span class="graph-node__title">{{ title }}</span>
  </div>
</app-tooltip>

<ng-template #tooltipTemplate>
  <ng-content select="[tooltip-content]"></ng-content>
</ng-template>
