@use "../../../../../../../assets/styles/mixins" as *;

.asset-flow {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .container {
    background: #fafafa;
    border-radius: 12px;
    padding: 1rem;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    color: #28a745;
  }

  .network-canvas {
    width: 100%;
    height: 220px;
    border-radius: 8px;
    position: relative;
    .node {
      position: absolute;
      z-index: 2;
    }

    .node-1 {
      top: 31%;
      left: 5%;
    }
    .node-2 {
      top: 31%;
      left: 30%;
    }
    .node-3 {
      top: 31%;
      left: 55%;
    }
    .node-4 {
      top: 5%;
      right: 5%;
    }
    .node-5 {
      top: 58%;
      right: 5%;
    }

    .edge {
      position: absolute;
      display: block;
      background: var(--grey-300);
      width: 85px;
      height: 1px;
    }
    .edge-1 {
      top: 46%;
      left: 15%;
    }
    .edge-2 {
      top: 46%;
      left: 40%;
    }
    .edge-3 {
      top: 46%;
      left: 65%;
      width: 40px;
      @include respond-below(md) {
        width: 30px;
      }
    }
    .edge-4 {
      top: 24%;
      right: 14%;
      width: 40px;
      @include respond-below(md) {
        display: none;
      }
    }
    .edge-5 {
      top: 68%;
      right: 14%;
      width: 40px;
      @include respond-below(md) {
        display: none;
      }
    }
    .edge-6 {
      top: 34%;
      left: 71%;
      width: 57px;
      transform: rotate(315deg);
    }
    .edge-7 {
      top: 57%;
      left: 71%;
      width: 57px;
      transform: rotate(45deg);
    }
  }

  .legend {
    display: flex;
    gap: 30px;
    align-items: center;
    border-top: 1px solid #e9ecef;
    padding: 1rem;
    padding-bottom: 0;

    &__item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
      font-size: 15px;

      .red {
        color: #dc3545;
      }

      .orange {
        color: #fd7e14;
      }

      .green {
        color: #28a745;
      }
    }

    &__icon {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;

      &.red {
        background: #dc3545;
      }

      &.orange {
        background: #fd7e14;
      }

      &.green {
        background: #28a745;
      }

      .material-icons {
        color: white;
        font-size: 1rem;
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
      }

      .material-icons-outlined {
        color: white;
        font-size: 1rem;
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
      }
    }
  }

  .shield-icon {
    filter: brightness(0) invert(1);
  }
}
